body
{
    font-family: 微软雅黑;
    
}

*
{
    margin: 0px;
    padding: 0px;
}

.clear
{
    clear: both;
}

.leftmenu
{
    background-color: rgb(29,6,62);
    height: 100%;
    width: 12.5%;
    float: left;
    color: white;
    position:fixed;
}

.leftmenu ul
{
    list-style-type: none;
}

.leftmenu ul li
{
    height: 40px;
    line-height: 40px;
}

.leftmenu ul a
{
    font-size: 12px;
    color: white;
    text-decoration: none;
    display: block;
    position: relative;
    padding-left: 35%;
    box-sizing: border-box;
    border-left: 5px solid #1D063E;
}

.leftmenu ul li a:hover, .leftmenu ul a.menuselect:hover, .leftmenu ul a.menuselect
{
    border-color:rgb(112,255,221);
}



.rightbody
{
    height: 100%;
    width: 87.5%;
    color: white;
    float: right;
}

.unitlogo
{
    height: 160px;
    line-height: 160px;
    text-align: center;
    padding-top:15px;
}

.unitlogo img
{
    vertical-align: middle;
    width: 120px;
    border-radius: 120px;
    border: 1px solid white;
    height:80%;
}

.userinfo
{
    height: 45px;
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: 15% top;
}

.userinfo span
{
    
    width:50%;
    position: relative;
    left: 25%;
    color: rgb(118,94,159);
    font-size: 14px;
}

.userinfo a
{
    width:20%;
    float:right;
    right:2%;
    color:White;
}




.menulevel1
{
    font-size: 13px;
    background: rgb(46,22,113);
    padding-left: 35%;
    height: 40px;
    line-height: 40px;
    background-repeat: no-repeat;
    background-position: 25% center;
}

.mdataana
{
    background-image: url(../images/menuana.png);
}

.mdataquery
{
    background-image: url(../images/menuquery.png);
}

.msysset
{
    background-image: url(../images/menusysset.png);
}

.menulevel2
{
    background-repeat: no-repeat;
    background-position: 25% center;
}

.mactdata
{
    background-image: url(../images/mactdata.png);
}

.msumdata
{
    background-image: url(../images/msumdata.png);
}

.mcarquery
{
    background-image: url(../images/mcarquery.png);
}

.mcarpass
{
    background-image: url(../images/mcarpass.png);
}

.mcarinner
{
    background-image: url(../images/mcarinner.png);
}

.msysuser
{
    background-image: url(../images/msysuser.png);
}

.msyspwd
{
    background-image: url(../images/msyspwd.png);
}

.bodytop
{
    display: table;
    width: 100%;
    height: 6%;
    background: rgb(46,22,113);
    background-image: url(../images/zllogo.png);
    background-repeat: no-repeat;
    background-position: 32px center;
    
}
.divContent
{
    height:94%;
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
    }

.bodytop div
{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.toptitle
{
    padding-left: 70px;
    width: 60%;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.topmoncount, .topdate, .toptime, .topblank
{
    width: 10%;
    padding-left: 32px;
    font-size: 13px;
    font-weight: 100;
    background-repeat: no-repeat;
    background-position: left center;
}

.toptime
{
    background-image: url(../images/toptime.png);
}

.topdate
{
    background-image: url(../images/topdate.png);
}

.topmoncount
{
    background-image: url(../images/topmoncount.png);
}


.actdata
{
    background: #000000;
    width: 100%;
    height: 100%;
}

.centertop
{
    height: 8%;
    background-color: rgb(29,6,62);
    margin: 0 2%;
}

.blankheight1
{
    height: 2%;
    width: 100%;
}


.bodycenter
{
    float: left;
    width: 66%;
    position: relative;
    margin: 0 0 0 2%;
    height: 83%;
    background-color: rgb(29,6,62);
    border-radius: 5px;
}


.bodyright
{
    float: left;
    margin: 0 2% 0 2%;
    height: 83%;
    width: 28%;
}



.bodyrighttop, .bodyrightcenter, .bodyrightbottom
{
    height: 32%;
    width: 100%;
    position: relative;
    background: rgb(29, 6, 62);
    border-radius: 5px;
}


.charttop
{
    position: absolute;
    background: rgb(46,22,113);
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 99;
}

.charttopleft
{
    float: left;
    font-size: 18px;
    letter-spacing: 2px;
    background-image: url(../images/chartlogo.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 35px;
}

.deviceinfoexeclstyle
{
  width:80%;
}

.deviceinfoexeclstyle td
{
    border-width: 1px 1px 1px 1px;
    border-color: #4e26bf;
    border-style: solid;
}

.charttopright, .changescreenmode
{
    float: right;
    width: 40px;
    background-image: url(../images/charttrans.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
}

.changescreenmode
{
    background-image: url(../images/screenfull.png);
}

.chartdiv
{
    height: 100%;
    width: 100%;
    z-index: 90;
}

.chartcenterdiv
{
    position: absolute;
    height: 100%;
    width: 100%;
}

.centertop1, .centertop2, .centertop3
{
    float: left;
    height: 100%;
    border-right-color: #2e136f;
    border-right-width: 1px;
    border-right-style: solid;
    box-sizing: border-box;
}
.centertop1
{
    width: 24%;
}

.centertop2
{
    width: 38%;
    padding: 20px 0 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
/*
.centertop3
{
    width: 33%;
    position: relative;
    box-sizing: border-box;
    padding: 0 40px;
}
*/
.centertop4
{
    height: 100%;
    width: 38%;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 20px 0;
}

.ct1datechange span,.ct1datechange div
{
    float:left;
    margin-top:30px;
    margin-left:20px;
    line-height:30px;
}

.ct1datechange input 
{
    float: left;
    color: white;
    font-size:18px;
    border-width: 0px;
    height: 100%;
    left: 30%;
    width: 100%;
    background-color: rgb(29,6,62);
    text-align: center;
}

.divdatechange
{
    width:20%;
    text-align:center;
    border:solid 1px #2e136f;
    cursor:pointer;
}

.ct2left, .ct2right
{
    display: table;
    float: left;
    width: 50%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ct2left div, .ct2right div
{
    display: table-cell;
}

.ct2left
{
    border-right: 1px solid #2e136f;
}


.ct2leftimg
{
    width: 20%;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(../images/svday.png);
}

.ct2rightimg
{
    width: 20%;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(../images/svnight.png);
}

.ct2text
{
    
    vertical-align: middle;
    text-align: right;
}

.ct2value
{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #6fffdb;
}
.ct2title
{
    font-size: 15px;
    letter-spacing: 1px;
    color: White;
}
.ct2leftflag
{
    width: 30%;
    
}

.ct2rightflag
{
    width: 30%;
}

.typecarimg
{
    width:35%;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(../images/typecar.png);
}
.typebusimg
{
    width: 35%;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(../images/typebus.png);
}

.ct4content
{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.ct4right
{
    float:right;
    margin-right:10%;
}

.type
{
	width: 100%;
	height: auto;
	overflow: auto;
	border-bottom: 1px solid #c2d3ed;
}

.types_s
{
	float: left;
	font-size: 12px;
	line-height: 20px;
	margin: 0px;
	color:Black;
}

.slt
{
    padding-left: 10px;
    border-bottom: 1px dashed #A7A7A7;
    line-height: 44px;
    font-size: 14px;
}
.slt_tl
{
    display: block;
    float: left;
    font-weight: bold;
    color: Black;
}
.sltt_input
{
    display: block;
    float: left;
}

.sltt_quick
{
    display: block;
    float: left;
    width: auto;
}

.sltt_quick a
{
    color: Black;
    text-decoration: none;
}

.slt_type
{
    display: block;
    float: left;
}



.sltt_search
{
    display: block;
    float: left;
    width: 120px;
}
.sltcall, .slttq
{
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #4F5F6F;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 10px;
}
.slt_on
{
    background-color: #49A9AC;
    color: #FFFFFF;
}

.slt_on a
{
    background-color: #49A9AC;
    color: #FFFFFF;
}

.sltcall:hover, .slttq:hover
{
    background-color: #C8D2DC;
}
.sltt_search a
{
    text-align: center;
}
.sltc_input span
{
    color: #8A8A8A;
    font-size: 12px;
}
.sltc_input a
{
    text-decoration: none;
    color: #4F5F6F;
}
.sltt_search a
{
    text-decoration: none;
    border: 1px solid #49A9AC;
    border-radius: 10px;
    line-height: 30px;
    display: block;
    margin-top: 5px;
    color: #49A9AC;
}

.sltcinpc
{
    display: block;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
.sltcinpc:hover
{
    color: #49A9AC;
}
.sltc_input
{
    float: left;
    display: block;
}


.StatMenu
{
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    height: 5%;
    width: 100%;
}

.StatMenu ul
{
    height: 100%;
    width: 100%;
}

.StatMenu ul li
{
    height: 100%;
    width: 29.3%;
    list-style: none;
    float: left;
    text-align: center;
    background-color: #2e1671;
    border-radius: 10px;
    display: table;
    margin: 0px 2%;
}

.statmenua
{
    width: 100%;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    text-decoration: blink;
}

.statmenuhref
{
    color: #6fffdc;
}


.centerdivleft
{
    float: left;
    background-color: #1d063e;
    width: 65%;
    height: 90%;
    margin-left: 2%;
    box-sizing: border-box;
    border-right: 2px solid black;
}

.cttopleft, .cttopright
{
    width: 100%;
    height: 6%;
    background-color: #2e1671;
    position: relative;
}

.cttimg
{
    height: 100%;
    width: 7%;
    float: left;
    background-image: url(../images/topdate.png);
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid #4e26bf;
    box-sizing: border-box;
}

.cttdatechang
{
    height: 100%;
    width: 29%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #4e26bf;
}

.ctttimechang1
{
    height: 100%;
    width: 30%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #4e26bf;
    display: table;
}
.cttcomefromtype
{
    height: 100%;
    width: 34%;
    display: table;
}

.ctbottom
{
    height: 94%;
    top: 6%;
    width: 100%;
    display: table;
}

.sumdateinput
{
    float: left;
    color: white;
    border-width: 0px;
    height: 100%;
    left: 30%;
    width: 45%;
    background-color: #2e1671;
    text-align: center;
}
.sumdatetexttable
{
    float: left;
    display: table;
    width: 10%;
    height: 100%;
}

.sumdatetextcell
{
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.statformatdate1, .sumareatext
{
    height: 100%;
    width: 25%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.statformatdateselect, .sumareatextselect
{
    color: rgb(112,255,221);
}

.statdivcharts1
{
    width: 100%;
    height: 45%;
}

.statcartypechart
{
    width: 100%;
    height: 60%;
}

.statdivcharttitletable
{
    width: 96%;
    height: 5%;
    display: table;
    margin: 0 2%;
}
.statdivcharttitle
{
    width: 100%;
    background-image: url(../images/chartlogo.png);
    background-repeat: no-repeat;
    background-position: 40px center;
    height: 100%;
    padding-left: 60px;
    display: table-cell;
    vertical-align: middle;
    background-color: #1d063e;
}


.centerdivright
{
    float: left;
    background-color: #1d063e;
    width: 31%;
    height: 90%;
    margin-right: 2%;
}


.stattabletitle
{
    width: 100%;
    height: 5%;
    font-size: 12px;
    display: table;
}

.stattabletitle span
{
    display: table-cell;
    vertical-align: middle;
}

.statexecl
{
    color: White;
    background-color: #1d063e;
    padding: 0px 20%;
    vertical-align: middle;
    width: 60%;
    height: 100%;
    overflow: auto;
}



.statexecltitle
{
    width: 70%;
    text-align: left;
    padding-left: 20%;
}
.statexeclopt
{
    width: 30%;
    text-align: right;
    padding-right: 20%;
}

.comefromtable,.stayhourtable
{
    width: 100%;
    height: 45%;
    text-align: center;
}


.StatMonth, .statmonthbalance
{
    width: 96%;
    margin: 0px 2%;
    background-color: #2e1671;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.StatMonth
{
    height: 6%;
}

.smb_1
{
    height: 6%;
    width: 100%;
}

.statmonthbalance
{
    display: none;
    height: 100%;
}

.statyear
{
    width: 20%;
    height: 100%;
    float: left;
    background-image: url(../images/topdate.png);
    background-repeat: no-repeat;
    background-position: 40px;
    display: table;
}

.statyeartable
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.cssYear, .cssYearBalance
{
    background-color: #2e1671;
    border: 0px;
    color: White;
    font-size: 16px;
}

.statyearmonthtable
{
    float: left;
    width: 70%;
    height: 100%;
    display: table;
    text-align: center;
}


.statyearmonthbegin, .statyearmonthend
{
    cursor: pointer;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
}

.monthendselect
{
    color: rgb(202, 67, 125);
}

.statmonthbalancebtntable
{
    width: 10%;
    height: 100%;
    display: table;
}
.statmonthbalancebtn
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.statchartdiv3
{
    height: 76%;
    width: 96%;
    background-color: #1d063e;
    margin: 0 2% 2% 2%;
}
.statflowchart
{
    height: 70%;
    width: 96%;
    background-color: #1d063e;
    margin: 0 2% 2% 2%;
}


.ctttimechang2
{
    height: 100%;
    width: 64%;
    float: left;
    box-sizing: border-box;
    display: table;
}

.statformatdate2
{
    width: 25%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.statformatdateselect2
{
    color: #6fffdc;
}

.statdivcartype
{
    width: 100%;
    height: 15%;
    display: table;
}

.statcenterdivcartype, .statcenterdivbustype
{
    display: table-cell;
    width: 50%;
    height: 100%;
}

.statcenterdivcartype
{
    border-right: 1px solid #2e136f;
    background-image: url(../images/typecar.png);
    background-repeat: no-repeat;
    background-position: 80% 10px;
}

.statcenterdivbustype
{
    background-image: url(../images/typebus.png);
    background-repeat: no-repeat;
    background-position: 20% 10px;
}

.sccartypetext, .scbustypetext
{
    font-size: 14px;
    padding-top: 50px;
}

.sccartypetext, .sccartypevalue
{
    padding-left: 76%;
}
.scbustypetext, .scbustypevalue
{
    padding-left: 18%;
}

.sccartypevalue, .scbustypevalue
{
    font-size: 18px;
    padding-top: 30px;
    color: rgb(101,218,198);
}

.statexeclstyle
{
    width: 100%;
    border: 1px solid #4e26bf;
}

.statexeclstyle td
{
    border-width: 0 1px 1px 0;
    border-color: #4e26bf;
    border-style: solid;
}



.mainNav
{
    width: 95%;
    padding-left: 10px;
    line-height: 25px;
    margin-bottom: 5px;
    height: 25px;
    border-radius: 0.4em;
    color:Black;
}

.ciline
{
    font-family: 微软雅黑;
    float: none;
    width: 100%;
    line-height: 25px;
    padding-bottom: 3px;
    height: auto;
    overflow: auto;
    
}

.cill
{
    float: left;
    width: 108px;
    line-height: 25px;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    color:Black;
}

.cilr
{
    float: left;
    line-height: 25px;
    text-align: left;
    padding-left: 5px;
    padding-right: 2px;
    color:Black;
}


.statmenuliselect
{
    background-color: #49A9AC;
    color: black;
}
.statmenuliselect a
{
    color: black;
}




.block_list
{
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E4E4E4;
    padding: 1.5em;
    clear: both;
    line-height: 2em;
    color:Black;
}

.blkl_left
{
    float: left;
    width: 80%;
    display: block;
}

.blkl_right
{
    float: right;
    width: 20%;
    display: block;
    text-align: center;
}

.blkl_l
{
    float: left;
}

.blkl_r
{
    float: right;
}
.blkl_01
{
    width: 20%;
    float: left;
    font-weight: bold;
    text-align: center;
    color:Black;
}
.blkl_02
{
    width: 80%;
    float: right;
}

.con_ins
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #49A9AC;
    border-bottom: 2px solid #C8D2DC;
}
.conins_block
{
    border: 1px solid #49A9AC;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: #E9EDF2;
}
.conins_tl
{
    line-height: 40px;
    font-weight: bold;
}
.conins_txt
{
    line-height: 35px;
}
.conins_txt p
{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.ct_block
{
    clear: both;
    height: auto;
    margin-bottom: 15px;
}
.ct_block .ctb_01
{
    background-color: #FFFFFF;
    display: block;
    float: left;
    width: 49%;
    height: 300px;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px hsla(0,0%,20%,0.3);
}
.ct_block .ctb_02
{
    background-color: #FFFFFF;
    display: block;
    float: right;
    width: 50%;
    height: 300px;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px hsla(0,0%,20%,0.3);
}
.ct_block .ctb_03
{
    background-color: #FFFFFF;
    display: block;
    float: left;
    width: 24%;
    height: 300px;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px hsla(0,0%,20%,0.3);
    margin-right: 1%;
}
.ct_block .ctb_04
{
    background-color: #FFFFFF;
    display: block;
    float: left;
    width: 24%;
    height: 300px;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px hsla(0,0%,20%,0.3);
}
.ct_block .ctb_05
{
    background-color: #FFFFFF;
    display: block;
    float: right;
    width: 50%;
    height: 300px;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px hsla(0,0%,20%,0.3);
}
.ct_block .ctb_06
{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    height: 100%;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px hsla(0,0%,20%,0.3);
}
.ct_block .ctb_07
{
    background-color: #FFFFFF;
    display: block;
    float: left;
    width: 80%;
    height: 400px;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px hsla(0,0%,20%,0.3);
}
.ct_block .ctb_08
{
    background-color: #FFFFFF;
    display: block;
    float: right;
    width: 19%;
    height: 400px;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px hsla(0,0%,20%,0.3);
}

.sceniclist
{
    color:White;
    text-decoration:none;
}