.mainNav
{
    width: 95%;
   
    padding-left: 10px;
    line-height: 25px;
    margin-bottom: 5px;
    height: 25px;
    border-radius: 0.4em;
}

.ciline
{
    font-family: 微软雅黑;
    float: none;
    width: 100%;
    line-height: 25px;
    padding-bottom: 3px;
    height: auto;
    overflow: auto;
}

.cill
{
    float: left;
    width: 108px;
    line-height: 25px;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}

.cilr
{
    float: left;
    line-height: 25px;
    text-align: left;
    padding-left: 5px;
    padding-right: 2px;
}

.ctextboxdate
{
    width: 90px;
    height: 17px;
    line-height: 19px;
    padding-right: 20px; /*border: 1px solid #607A97;*/
}

.starttbdate
{
    width: 90px;
    height: 17px;
    line-height: 19px;
    padding-right: 20px; /*border: 1px solid #607A97;*/
}

.endtbdate
{
    width: 90px;
    height: 17px;
    line-height: 19px;
    padding-right: 20px; /*border: 1px solid #607A97;*/
}

table.hovertable
{
    font-size: 15px;
    color: #49A9AC;
    border-width: 1px;
    border-color: #49A9AC;
    border-collapse: collapse;
    margin: 5px 5% 15px 7%;
    width: 100%;
}
table.hovertable tr
{
    background-color: #FFFFFF;
}
table.hovertable td
{
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #49A9AC;
    text-align: center;
    width: 25%;
    cursor: pointer;
}
.tableactive
{
    background-color: #49A9AC;
    color: #FFFFFF;
}

.cilllong
{
    float: left;
    width: 45%;
    line-height: 25px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}

.statmenuliselect
{
    background-color: #49A9AC;
    color: White;
}

.statmenuliselect a
{
    color: White;
}
