<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CaptureDevSys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CaptureDevSys.Properties.Settings>
            <setting name="CaptureDevSys_com_zjwist_car_CarService" serializeAs="String">
                <value>http://car.zjwist.com/carservice.asmx</value>
            </setting>
            <setting name="CaptureDevSys_com_zjwist_qy_CarStatByDay" serializeAs="String">
                <value>http://qy.zjwist.com/ws/carstatbyday.asmx</value>
            </setting>
        </CaptureDevSys.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
