@charset "utf-8";
/* CSS Document */
* { padding:0; margin:0;}
body{ font-family:Helvetica Neue,Helvetica,Arial,sans-serif; width:100%; padding:0; margin:0; overflow-x:hidden; background-color:#FFFFFF;font-size:18px;}
ul{ list-style:none;}

.title{ width:97%; height:40px; padding:0; margin:5px; color:#ffffff;}
.title .t{ height:100%; float:left; font-size:22px; line-height:40px; text-align:center; box-sizing:border-box;display:inline-block;}
.title .menu1{ background-color:#04BE02; width:50%;border-right:solid 1px #FFF;border-radius: 5px 0px 0px 5px;}
.title .menu2{ background-color:#04BE02; width:50%;border-radius: 0px 5px 5px 0px;}
.title .active{ background-color:#009100;}

.carinfo{ width:97%; height:20px; padding:0; margin:12px; color:Black;}
.carinfo .t{ height:100%; float:left; font-size:18px; line-height:20px; text-align:left; box-sizing:border-box;display:inline-block;}
.carinfo .menu1{ width:25%;}
.carinfo .menu2{ width:30%;padding-left:20px;}
.carinfo .menu3{ width:45%;padding-left:15px;}
.carinfo .menu7{ width:55%;}

.carinfo .s{ height:100%; float:left; font-size:23px; line-height:10px; text-align:left; box-sizing:border-box;display:inline-block;}
.carinfo .menu4{ width:25%;color:#009100;padding-left:3px;}
.carinfo .menu5{ width:30%;color:#00688B;padding-left:20px;}
.carinfo .menu6{ width:45%;color:#00688B;padding-left:15px;}
.carinfo .menu9{ width:55%;color:#00688B;padding-left:3px;}

.category{ width:97%; height:45px; padding:0; margin:5px; color:Black;}
.category .t{ height:100%; float:left; font-size:15px; line-height:45px; text-align:center; box-sizing:border-box;background-color:#ffffff;}
.category .menu1{width:50%;}
.category .menu2{width:50%;}
.category .menu1 .i1{ left:15px; width:18px;padding-right:5px;vertical-align:middle;}
.category .menu2 .i2{ left:15px; width:18px;padding-right:5px;vertical-align:middle;}
.category .active{ border-bottom:solid 1px #009100;}

.spancat
{
    vertical-align:middle;
}

.fullmonth{
            width: 90%;
            padding: 6px;
            margin:10px 5% 10px 5%;
            border: 1px solid #aaa;
            box-sizing: border-box;
            border-radius: 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -webkit-border-radius: 5px;
            text-align:center;
        }

.leftmonth{
            width: 42%;
            padding: 6px;
            margin:10px 2% 10px 5%;
            border: 1px solid #aaa;
            box-sizing: border-box;
            border-radius: 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -webkit-border-radius: 5px;
            text-align:center;
        }
        
.rightmonth{
            width: 42%;
            padding: 6px;
            margin:10px 5% 10px 2%;
            border: 1px solid #aaa;
            box-sizing: border-box;
            border-radius: 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -webkit-border-radius: 5px;
            text-align:center;
        }

.leftbox{
            width: 40%;
            padding: 5px;
            margin: 10px 2% 5px 5%;
            border: 1px solid #aaa;
            box-sizing: border-box;
            border-radius: 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -webkit-border-radius: 5px;
            text-align:center;
        }
       
 .rightbox{
            width: 40%;
            padding: 5px;
            margin: 10px 5% 5px 2%;
            border: 1px solid #aaa;
            box-sizing: border-box;
            border-radius: 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -webkit-border-radius: 5px;
            text-align:center;
        }
    
 .datespan
 {
     text-align:center;
 }

.linediv{width:97%;border:1px solid #D9D9D9;height:330px;padding:0; margin:15px 5px 5px 5px;}

.piediv{width:97%;border:1px solid #D9D9D9;height:auto;padding:0; margin:15px 5px 5px 5px;}

.selectbtn {
    background-color: #FFF;
    width: 97%;
    text-align: center;
    border-bottom: 1px solid #D9D9D9;
    padding:0;
    margin:5px;
}

.categorybtn
{
    background-color: #FFF;
    width: 97%;
    border-top: 1px solid #D9D9D9;
    padding:0;
    margin:5px;
}

.btnnew {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.returnimg
{
    width:12px;
    margin-left:15px;
    margin-top:17px;
    float:left;
}

.refimg
{
    width:22px;
    float:right;
    margin-right:15px;
    margin-top:8px;
}

table.hovertable
        {
            font-size:15px;
            color: #04BE02;
            border-width: 1px;
            border-color: #04BE02;
            border-collapse: collapse;
            margin:5px 5% 15px 5%;
            width:89%;
        }
        table.hovertable tr
        {
            background-color: #FFFFFF;
        }
        table.hovertable td
        {
            border-width: 1px;
            padding: 3px;
            border-style: solid;
            border-color: #04BE02;
            text-align:center;
            width:25%;
        }
        
        .tableactive{ background-color:#04BE02;color:#FFFFFF}
        
table.stattable
        {
            font-size: 15px;
            color: Black;
            margin:auto;
            width:95%;
            border-width: 1px;
            border-color: #999999;
            border-collapse: collapse;
        }
        table.stattable tr
        {
            background-color: #FFFFFF;
        }
        table.stattable td
        {
            border-width: 1px;
            border-style: solid;
            border-color: #01ADDB;
            padding: 2px;
            text-align:left;
            vertical-align:middle;
            width:50%;
        }
        
.more{ width:95%; margin:auto; height:45px; background-color:#04BE02; color:#ffffff; font-size:16px; text-align:center; line-height:45px; position:relative; font-weight:bold; margin-top:10px;}

.more .line{ position:absolute; right:15px; top:15px; width:15px; }

.submitbtn
{
    background-color: #FFF;
    display: table;
    width: 100%;
    text-align: center;
    border-radius:0px 0px 4px 4px;
    border-bottom: 1px solid #D9D9D9;
}

.leftbtn {
    vertical-align: top;
    display: table-cell;
    position: relative;
    z-index: 5;
}

.btnok {
    overflow: hidden;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    height: 2.6em;
    line-height: 2.6em;
    font-size: 0.875em;
    border-top: 1px solid #D9D9D9;
}

.arrow-left {
  background: url(../image/arrleft.png) no-repeat;
  position: absolute;
  left: 10px;
  top: 40%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.arrow-right {
  background: url(../image/arrright.png) no-repeat;
  position: absolute;
  right: 5px;
  top: 40%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}

.swiper-container {
  height: 350px;
}
.content-slide {
  padding: 20px;
}
      .pagination {
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}


