*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: #ffffff;
    font-family: 微软雅黑;
    width: auto;
}

ul
{
    list-style: none;
}

.clear
{
    clear: both;
}

.csstitle
{
    text-align: center;
    font-size: 16px;
    line-height: 46px;
    height: 46px;
}

.titletext
{
    background-color: #ffffff;
    float: left;
    width: 33.3%;
    border: 1px solid #d1d1d1;
    letter-spacing: 5px;
    box-sizing: border-box;
    color: #b8c2ff;
}

.csstitleimg
{
    background-image: url(../images/Day.png);
    background-position: right;
    background-repeat: no-repeat;
    width: 50%;
    float: left;
}

.cssmodel
{
    width: 45%;
    float: right;
    font-size: 12px;
    text-align: left;
    line-height: 15px;
    margin-top: 8px;
    padding-left: 2px;
}

.csscurrdata
{
    margin-top: 20px;
    color: #797778;
}

.csscurrdataimg1, .csscurrdataimg2
{
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    height: 33px;
    line-height: 33px;
    text-align: center;
    float: left;
}

.csscurrdataimg1
{
    background-image: url('../images/d_staynow.png');
}
.csscurrdataimg2
{
    background-image: url('../images/d_scale.png');
}

.csscurrdatatext
{
    width: 35%;
    margin-left: 10px;
    float: left;
    font-size: 12px;
    font-weight: bolder;
    margin-top: 15px;
    letter-spacing: 1px;
}
.csscurrdatavalue
{
    width: 25%;
    float: left;
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    color: #546eff;
}


/*进度条*/
.cssbarbackground
{
    width: 85%;
    height: 11px;
    float: left;
    margin-left: 8%;
    margin-top: 20px;
    background: #e6e6e6;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    border: 1px solid #afafaf;
}
.cssbarflat
{
    background: #c6cefd;
    height: 11px;
    text-align: center;
    line-height: 150%;
    width: 50%;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    box-shadow: 0 0 10px #c6cefd;
}

.cssSumValue
{
    height: 70px;
    color: white;
    margin-top: 15px;
}

.csssvleft
{
    height: 55px;
    float: left;
    width: 50%;
    box-sizing: border-box;
    border-right: 1px solid #59417b;
}

.csssvright
{
    height: 55px;
    float: left;
    width: 50%;
}

.svleftimg, .svrightimg
{
    background-position: right center;
    background-repeat: no-repeat;
    line-height: 50px;
    width: 20%;
    text-align: right;
    float: right;
}
.svleftimg
{
    background-image: url(../images/d_svday.png);
}

.svrightimg
{
    background-image: url(../images/d_svnight.png);
}

.svleftdiv
{
    width: 55%;
    float: right;
    text-align: right;
    height: 100%;
}

.svlefttvalue
{
    width: 100%;
    float: right;
    font-size: 30px;
    font-weight: bold;
    color: #546eff;
    line-height: 30px;
}

.svlefttext
{
    width: 100%;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: right;
    color: #878586;
}

.svleftflag, .svrightflag
{
    background-repeat: no-repeat;
    width: 20%;
    line-height: 30px;
    text-align: left;
    float: right;
}

.svleftflag
{
    background-position: left bottom;
    background-image: url(../images/d_svdayflag.png);
}

.csssvright
{
    float: right;
    width: 50%;
}

.svrightflag
{
    background-position: left top;
    background-image: url(../images/d_svnightflag.png);
}


/*标题*/
.titlepostion, .titletypepostion
{
    position: relative;
    height: 300px;
    width: 100%;
}

.titletypepostion
{
    height: 160px;
}

.titleimg, .titleimgtype
{
    top: 20px;
    position: absolute;
    width: 100%;
    background-image: url(../images/d_title.png);
    background-repeat: no-repeat;
    background-position: 20px center;
}

.titleimg span
{
    color: #536fff;
    font-size: 15px;
    font-style: normal;
    padding-left: 45px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.titleimgtypespan
{
    color: rgb(184,194,255);
    font-size: 15px;
    font-style: normal;
    padding-left: 45px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.CurrChart, .CountChangChart, .CityFromChart
{
    position: absolute;
    left: 10px;
    top: 10px;
    height: 300px;
    line-height: 300px;
    width: 98%;
    margin: auto;
}

.sumPieCarType
{
    top: 160px;
}

.countchang
{
    height: 80px;
    color: white;
    margin-top: 30px;
}
.countchangenter, .countchangleave
{
    float: left;
    line-height: 50px;
    width: 50%;
    height: 55px;
    box-sizing: border-box;
    text-align: right;
    background-position: 25px top;
    background-repeat: no-repeat;
}

.countchangenter
{
    background-image: url(../images/d_carenter.png);
    border-right: 1px solid #59417b;
}
.countchangleave
{
    background-image: url(../images/d_carleave.png);
}

.cartext
{
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
    color: #878586;
}
.carentervalue, .carleavevalue
{
    width: 32%;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 70px;
    display: table-cell;
    height: 5px;
    text-align: center;
}
.carentervalue
{
    color: #546eff;
}
.carleavevalue
{
    color: #eb07b2;
}

.cartypetitleimg span
{
    margin-left: 45px;
}

.sumtitle
{
    height: 58px;
    background-color: rgb(184,194,255);
    border-bottom: 1px solid #ffffff;
}

.sumtitletext, .sumdatetext, .sumareatext, .sumdatetypetext
{
    float: left;
    font-size: 13px;
    text-align: center;
    color: White;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    height: 32px;
    line-height: 32px;
}
.sumtitletext
{
    width: 33.3%;
}

.sumtitletextcenter
{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.sumdatetext, .sumareatext, .sumdatetypetext
{
    border-right: 1px solid #ffffff;
    width: 25%;
}

.sumdatetextright, .sumareatextright
{
    border-right: 0;
}

.titletextselect
{
    color: #546eff;
}

.sumdateselect, .summonthselect
{
    margin-top: 22px;
}

.sumdatebegin, .summonthbegin
{
    position: relative;
    width: 33%;
    margin-left: 3%;
    background: rgb(184,194,255) url(../images/dateimg.png) no-repeat;
    background-position: 5px center;
    float: left;
    text-align: right;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    overflow: hidden;
}

.sumdatespanshow, .summonthspanshow
{
    position: absolute;
    background: rgb(184,194,255);
    color: White;
    left: 30%;
    font-size: 12px;
    width: 70%;
    text-align: center;
}

.sumdateinput
{
    position:absolute;
    color: White;
    background-color: rgb(184,194,255);
    border-width: 0px;
    height: 33px;
    left: 30%;
    opacity: 0;
    width: 70%;
}

.sumdateto
{
    margin-left: 2%;
    float: left;
    color: rgb(121,119,120);
    height: 35px;
    width: 5%;
    line-height: 35px;
}

.sumdatebtn, .summonthbtn
{
    margin-left: 3%;
    margin-right: 3%;
    font-size: 16px;
    text-align: center;
    color: White;
    width: 15%;
    background-color: rgb(184,194,255);
    float: left;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

.summonthbegin
{
    margin-left: 5%;
    width: 55%;
    background-position: 20px center;
}

.summonthspanshow
{
    font-size: 14px;
    letter-spacing: 4px;
}

.summonthbtn
{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px;
    width: 30%;
}

.summonthbtnend
{
    margin-top: 10px;
}

.cartypebycar, .cartypebybus
{
    position: absolute;
    top: 30px;
    height: 80px;
    line-height: 30px;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center top;
}

.cartypebycar
{
    background-image: url(../images/d_cartype.png);
    border-right: 1px solid #59417b;
}


.cartypebybus
{
    background-image: url(../images/d_bustype.png);
    left: 50%;
}

.cartypetext
{
    color: #797778;
}
.cartypevalue
{
    color: #546eff;
}
