*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: #1d063e;
    font-family: 微软雅黑;
    width: auto;
}

ul
{
    list-style: none;
}

.clear
{
    clear: both;
}

.csstitle
{
    text-align: center;
    font-size: 16px;
    line-height: 46px;
    height: 46px;
}

.titletext
{
    background-color: #2f1671;
    float: left;
    width: 33.3%;
    border: 1px solid black;
    letter-spacing: 5px;
    box-sizing: border-box;
    color: White;
}

.csstitleimg
{
    background-image: url(../images/Night.png);
    background-position: right;
    background-repeat: no-repeat;
    width: 50%;
    float: left;
}

.cssmodel
{
    width: 45%;
    float: right;
    font-size: 12px;
    text-align: left;
    line-height: 15px;
    margin-top: 8px;
    padding-left: 2px;
}

.csscurrdata
{
    margin-top: 20px;
    color: White;
}

.csscurrdataimg1, .csscurrdataimg2
{
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    height: 33px;
    line-height: 33px;
    text-align: center;
    float: left;
}

.csscurrdataimg1
{
    background-image: url('../images/N_staynow.png');
}
.csscurrdataimg2
{
    background-image: url('../images/N_scale.png');
    background-size:40px ;
}

.csscurrdatatext
{
    width: 35%;
    margin-left: 10px;
    float: left;
    font-size: 13px;
    margin-top: 15px;
    letter-spacing: 1px;
}
.csscurrdatavalue
{
    width: 25%;
    float: left;
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    color: #74ffde;
}


/*进度条*/
.cssbarbackground
{
    width: 85%;
    height: 11px;
    float: left;
    margin-left: 8%;
    margin-top: 20px;
    background: #34234d;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
}

.cssbarflat
{
    background: #6fffdb;
    height: 11px;
    text-align: center;
    line-height: 150%;
    width: 50%;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    box-shadow: 0 0 10px rgba(111, 255, 219, 1);
}

.cssSumValue
{
    height: 70px;
    color: white;
    margin-top: 25px;
}

.csssvleft
{
    height: 55px;
    float: left;
    width: 50%;
    box-sizing: border-box;
    border-right: 1px solid #59417b;
}

.csssvright
{
    height: 55px;
    float: left;
    width: 50%;
}

.svleftimg, .svrightimg
{
    background-position: right center;
    background-repeat: no-repeat;
    line-height: 50px;
    width: 20%;
    text-align: right;
    float: right;
    
}
.svleftimg
{
    background-image: url(../images/N_day.png);
    background-size:25px;
}

.svrightimg
{
    background-image: url(../images/N_night.png);
    background-size:20px;
}

.svleftdiv
{
    width: 55%;
    float: right;
    text-align: right;
    height: 100%;
}

.svlefttvalue
{
    width: 100%;
    float: right;
    font-size: 25px;
    color: #74ffde;
    line-height: 30px;
}

.svlefttext
{
    width: 100%;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: right;
    color: White;
}
.csssvright
{
    float: right;
    width: 50%;
}

.svleftflag, .svrightflag
{
    background-repeat: no-repeat;
    width: 20%;
    line-height: 30px;
    text-align: left;
    float: right;
}




/*标题*/
.titlepostion, .titletypepostion, .titlesumpostion
{
    position: relative;
    height: 313px;
    width: 100%;
}

.titlesumpostion
{
    height: 220px;
}
.titletypepostion
{
    height: 167px;
}

.cartodaysummary
{
    position: absolute;
    height: 300px;
    width: 100%;
    top: 50px;
}

.titleimg, .titleimgtype
{
    top: 20px;
    position: absolute;
    width: 100%;
    background-image: url(../images/title.png);
    background-repeat: no-repeat;
    background-position: 20px center;
}

.titleimg span
{
    color: White;
    font-size: 15px;
    font-style: normal;
    padding-left: 45px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.titleimgtypespan
{
    color: White;
    font-size: 15px;
    font-style: normal;
    padding-left: 45px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.CurrChart, .CountChangeChart, .CityFromChart
{
    position: absolute;
    left: 10px;
    height: 300px;
    line-height: 300px;
    width: 98%;
    margin: auto;
}

.sumPieCarType
{
    top: 160px;
}

.countchang
{
    height: 80px;
    color: white;
    margin-top: 30px;
}
.countchangenter, .countchangleave
{
    float: left;
    line-height: 50px;
    width: 50%;
    height: 55px;
    box-sizing: border-box;
    text-align: right;
    background-position: 25px top;
    background-repeat: no-repeat;
}

.countchangenter
{
    background-image: url(../images/carenter.png);
    border-right: 1px solid #59417b;
}
.countchangleave
{
    background-image: url(../images/carleave.png);
}

.cartext
{
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
    color: White;
}
.carentervalue, .carleavevalue
{
    width: 32%;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 70px;
    display: table-cell;
    height: 5px;
    text-align: center;
}
.carentervalue
{
    color: #74ffde;
}
.carleavevalue
{
    color: #eb5872;
}

.cartypetitleimg span
{
    margin-left: 45px;
}

.sumtitle
{
    height: 40px;
    background-color: #290c4f;
    border-bottom: 1px solid #59417b;
}

.sumtitletext, .sumdatetext, .sumareatext, .sumdatetypetext
{
    float: left;
    font-size: 13px;
    text-align: center;
    color: White;
    box-sizing: border-box;
    margin-top: 5px;
    letter-spacing: 1px;
    line-height: 30px;
}

.sumtitletext
{
    width: 33.3%;
}

.sumtitletextcenter
{
    border-left: 1px solid #59417b;
    border-right: 1px solid #59417b;
}

.sumdatetext, .sumareatext, .sumdatetypetext
{
    border-right: 1px solid #59417b;
    width: 25%;
}

.sumdatetextright, .sumareatextright
{
    border-right: 0;
}

.titletextselect
{
    color: #6fffdc;
}

.sumdateselect, .summonthselect
{
    margin-top: 22px;
}


.beforday,.endday
{
    width: 30%;
    border: 1px solid #59417b;
    color: White;
    text-align: center;
    vertical-align: middle;
    float: left;
    line-height: 30px;
    height:30px;
    margin-top: 15px;
    
}
.beforday
{
   margin-left:5%;
    }

.sumdatebegin, .summonthbegin, .datechoose
{
    position: relative;
    float: left;
    overflow: hidden;
}

.sumdatebegin, .summonthbegin
{
    width: 33%;
    margin-left: 3%;
    text-align: right;
    line-height: 35px;
    height: 35px;
    background: #290c4f url(../images/N_dateimg.png) no-repeat;
    background-position: 5px center;
    background-size:20px;
    border: 1px solid #59417b;
    box-sizing: border-box;
}

.datechoose
{
    border-bottom: 1px;
    border-bottom-color: #59417b;
    border-bottom-style: solid;
    border-top: 1px;
    border-top-color: #59417b;
    border-top-style: solid;
    box-sizing: border-box;
    position: relative;
    float:left;line-height:30px;margin-top:15px; width:30%;
    text-align:center;
}

.sumdatespanshow, .summonthspanshow, .datechoosespan
{
    background: #290c4f;
    color: White;
    text-align: center;
}

.datechoosespan
{
    font-size: 16px;
    width: 100%;
}

.sumdatespanshow, .summonthspanshow
{
    font-size: 12px;
    position: absolute;
    left: 30%;
    width: 70%;
}

.sumdateinput, .datechooseinput
{
    color: White;
    background-color: blue;
    border-width: 0px;
    opacity: 0;
}

.sumdateinput
{
    position: absolute;
    height: 33px;
    left: 30%;
    width: 70%;
}

.datechooseinput
{
    width: 100%;
    vertical-align: middle;
    line-height: 30px;
    position: absolute;
    left: 0px;
}

.sumdateto
{
    margin-left: 2%;
    float: left;
    color: white;
    height: 35px;
    width: 5%;
    line-height: 35px;
}

.sumdatebtn, .summonthbtn
{
    margin-left: 3%;
    margin-right: 3%;
    font-size: 16px;
    text-align: center;
    color: White;
    width: 15%;
    background-color: #290c4f;
    float: left;
    height: 35px;
    line-height: 35px;
    border: 1px solid #59417b;
    box-sizing: border-box;
}

.summonthbegin
{
    margin-left: 5%;
    width: 55%;
    background-position: 20px center;
}

.summonthspanshow
{
    font-size: 14px;
    letter-spacing: 4px;
}

.summonthbtn
{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px;
    width: 30%;
}

.summonthbtnend
{
    margin-top: 10px;
}

.cartypebycar, .cartypebybus
{
    position: absolute;
    top: 40px;
    height: 80px;
    line-height: 30px;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size:40px;
}

.cartypebycar
{
    background-image: url(../images/N_bycar.png);
    border-right: 1px solid #59417b;
    
}


.cartypebybus
{
    background-image: url(../images/N_bybus.png);
    left: 50%;
    
}

.cartypetext
{
    color: White;
    font-size: 13px;
}
.cartypevalue
{
    color: #74ffde;
}


